Mike Abbinante Ch.5

5.2 Lists

In [1]:
#lists typically store homogenous data(values of the same data type)
#not: lists start at 0
#lists can also store heterogenous data (data of different types)
#Elements in a list can be recalled by adding its (index) position number in [] 
#lists can be accessed in reverse using negative numbers

In [2]:
a=[32, 5 ,6 ,7 ,8 , 8, 987, 7]

a

[32, 5, 6, 7, 8, 8, 987, 7]

In [3]:
a[3]

7

In [4]:
len(a)

8

In [5]:
a[-4]

8

In [6]:
a[4]

8

In [7]:
a[7]

7

In [8]:
a[-7]

5

In [9]:
a[1]

5

In [10]:
#lists are mutable(elements can be modified)

In [11]:
a[4]=12

In [12]:
a

[32, 5, 6, 7, 12, 8, 987, 7]

In [13]:
a[3]=43

In [14]:
a[-2]=9

In [15]:
a

[32, 5, 6, 43, 12, 8, 9, 7]

In [16]:
#some sequences are immutable(cannot be modified)

In [17]:
#ex

s = 'banana'
s[0]

'b'

In [18]:
#s[0] = 'B'
#note: gives an error (words can't be changed?)

In [19]:
#a[999]
#note: gives error because it is out of the range of list a

In [20]:
b=[1, 2, 43, 44, 555, 12, 7]
b

[1, 2, 43, 44, 555, 12, 7]

In [21]:
print(a + b)
#note: adds b list to end of a list
#this is a concetenate list(two tuples or string using the + operator

[32, 5, 6, 43, 12, 8, 9, 7, 1, 2, 43, 44, 555, 12, 7]

In [22]:
(a+b)[12]

555

In [23]:
concatended_list = a+b

concatended_list

[32, 5, 6, 43, 12, 8, 9, 7, 1, 2, 43, 44, 555, 12, 7]

In [24]:
for i in range(len(concatended_list)):
    print(f'{i}: {concatended_list[i]}')

0: 32
1: 5
2: 6
3: 43
4: 12
5: 8
6: 9
7: 7
8: 1
9: 2
10: 43
11: 44
12: 555
13: 12
14: 7

5.2 SELF CHECK
1)python's string and tuple sequences are immutable(they cannot be modified)
2)The + operator sequence must have the same type otherwise an error will occur

In [25]:
#3 - Mike Abbinante

def cube_list(values):
    for a in range(len(values)):
        values[a] **= 3

numbers = [1,2,3,4,5,6,7,8,9,10]

cube_list(numbers)

numbers

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [26]:
#4

characters = []

characters += '3 Blimps in a parade'

characters

['3',
 ' ',
 'B',
 'l',
 'i',
 'm',
 'p',
 's',
 ' ',
 'i',
 'n',
 ' ',
 'a',
 ' ',
 'p',
 'a',
 'r',
 'a',
 'd',
 'e']

In [27]:

a = [1, 2 , 3 , 5 , 4]
b = [1, 33, 43, 6, 9]
c = [1, 2, 3, 5, 4]

a==b

False

In [28]:
a < c

False

In [29]:
a == c

True

In [30]:
c >= b

False

In [31]:
#Mike Abbinante

5.3 Create a tuple

In [32]:
#creating tuples
fruit_tuple = ()

fruit_tuple

()

In [33]:
len(fruit_tuple)

0

In [34]:
fruit_tuple = ('cherry', 'orange', '12.2')

In [35]:
len(fruit_tuple)

3

In [36]:
another_fruit_tuple = ('watermelon', 'apple', '12.2')

In [37]:
single_fruit_tuple = ('watermelon',)

In [38]:
single_fruit_tuple

('watermelon',)

In [39]:
#accessing tuple elements

time_tuple= (12, 9, 7) 

time_tuple

(12, 9, 7)

In [40]:
time_tuple[0] *3600 + time_tuple[1] *60 + time_tuple[2]

43747

In [41]:
#adding to a string or tuple
tuple1 = (1, 3, 5)

tuple2 = tuple1

tuple2

(1, 3, 5)

In [42]:
tuple1 += (32, 5)

tuple1

(1, 3, 5, 32, 5)

In [43]:
tuple2

(1, 3, 5)

In [44]:
#note: use += to append(add ta a list)

numbers=(1,2,3,4,5,6)

numbers

(1, 2, 3, 4, 5, 6)

In [45]:
numbers += (23,444,5)

In [46]:
numbers

(1, 2, 3, 4, 5, 6, 23, 444, 5)

In [47]:
#tuples may contain mutable objects

student_tuple = ('Greg', 'Amy', [23, 5, 6])

In [48]:
student_tuple[2][1] = 4

In [49]:
student_tuple

('Greg', 'Amy', [23, 4, 6])

In [50]:
#note: Python views --student_tuple[2]-- as the element of the tuple containing the list [23, 5, 6] then uses[1] to access the element containing 5 then replaces it with 4

5.4 unpacking sequences

In [51]:
student_tuple = ('Amanda', [98, 85, 87])

In [52]:
first_name, grades = student_tuple

In [53]:
first_name

'Amanda'

In [54]:
grades

[98, 85, 87]

In [55]:
one, two = 'Hi'
print(f'{one} {two}')

H i

In [56]:
number1, number2, number3 = [1, 3, 4]

print(f'{number1} {number2} {number3}')

1 3 4

In [57]:
number1, number2, number3 = range(10, 40, 10)

print(f'{number1} {number2} {number3}')

10 20 30

In [58]:
#swapping values
number1= 99
number2= 22
number1, number2 = (number2, number1)

print(f'number1 = {number1}; number2 ={number2}')

number1 = 22; number2 =99

In [59]:
vehicles = ('Trucks', [22], 'Sedans', [12])

type1, number_of_Trucks, type2, number_of_Sedans = vehicles
print(f'The two types of vehicles are {type1} and {type2}')

The two types of vehicles are Trucks and Sedans

In [60]:
print(f'There are {number_of_Trucks} {type1} and {number_of_Sedans} {type2}')

There are [22] Trucks and [12] Sedans

In [61]:
type1

'Trucks'

In [62]:
type2

'Sedans'

In [63]:
number_of_Trucks

[22]

In [64]:
number_of_Sedans

[12]

In [65]:
#Mike Abbinante

In [66]:
#creating a primitive bar chart

In [67]:
cd C:\Users\mpabb\Documents\IntroToPython-master\examples\ch05

C:\Users\mpabb\Documents\IntroToPython-master\examples\ch05

In [68]:
# fig05_01.py
"""Displaying a bar chart"""
numbers = [19, 3, 15, 7, 11]

print('\nCreating a bar chart from numbers:')
print(f'Index{"Value":>8}   Bar')

for index, value in enumerate(numbers):
    print(f'{index:>5}{value:>8}   {"X" * value}')

Creating a bar chart from numbers:
Index   Value   Bar
    0      19   XXXXXXXXXXXXXXXXXXX
    1       3   XXX
    2      15   XXXXXXXXXXXXXXX
    3       7   XXXXXXX
    4      11   XXXXXXXXXXX

In [69]:
#Self Check 5.4
#Q1-A. A sequence's elements can be unpacked by assigning the sequence to a comma-seperated list of variables
#Q2 Does the following cause an error?
'-'*10
#Q2-A no the multiplication operator repeates the '-' string 10 times

'----------'

5.5 sequence slicing

In [70]:
#you can slice sequences to create new sequences of the same type containing subsets of the original elements< slice operations can modify muteable sequences (those that do not modify a sequences work identically for lists, tuples, and strings)

In [71]:
#slice copies from the starting(x) index to the end(y) index ex [x:y]
numbers = [12, 33 ,44 ,34, 12, 5, 7, 8, 78]

numbers[2:6]

[44, 34, 12, 5]

In [72]:
#omitting starting index, 0 is assumed therefor printing 0 through 6
numbers[:6]

[12, 33, 44, 34, 12, 5]

In [73]:
numbers[0:6]

[12, 33, 44, 34, 12, 5]

In [74]:
#omitting  ending index, python assumes the sequences length, so the slice contains elements of numbers at indeces 6 to the end of the length
numbers[6:]

[7, 8, 78]

In [75]:
#can also written as
numbers[6: len(numbers)]

[7, 8, 78]

In [76]:
#omitting both start and end reprints the sequences
numbers[:]

[12, 33, 44, 34, 12, 5, 7, 8, 78]

In [77]:
#slicing with steps (::) skips the number specified
numbers[::2]

[12, 44, 12, 7, 78]

In [78]:
numbers[::3]

[12, 34, 7]

In [79]:
#slicing with negative numbers, this reverses the order
numbers[::-1]

[78, 8, 7, 5, 12, 34, 44, 33, 12]

In [80]:
#reversing the order can also be wrote as
numbers[-1:-10:-1]

[78, 8, 7, 5, 12, 34, 44, 33, 12]

In [81]:
#modifying lists via slices
#lists can modified by assigning to a slice to it, leavining the rest of the list unchanged
numbers[0:3] = ('two', 'three', 'five')

In [82]:
numbers

['two', 'three', 'five', 34, 12, 5, 7, 8, 78]

In [83]:
#this deletes the first 3 elements of the list
numbers[0:3]= []

In [84]:
numbers

[34, 12, 5, 7, 8, 78]

In [85]:
#the following adds a number after every other one in the list
numbers = [2, 5, 12, 23, 13, 14, 55, 6]
numbers [::2] = [100, 100, 100, 100]

numbers

[100, 5, 100, 23, 100, 14, 100, 6]

In [86]:
id(numbers)

2211988670784

In [87]:
numbers[:] = []

In [88]:
numbers

[]

In [89]:
id(numbers)

2211988670784

In [90]:
#deleting numbers is different than assigning numbers a new empty list proven by the different id memories of the two different 'numbers'
numbers= []

In [91]:
numbers

[]

In [92]:
id(numbers)

2211988697472

In [93]:
#5.5 self check

#Q1-A. False slice operations that do not modify  a sequence work identically for lists, tuples, and strings
#Q2-A. assume a list called names. The slice expression names[::-1] shows the elements of the list in reverse order
#Q3 python session

numbers = list(range(1,16))
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [94]:
#a select number's even integers
numbers[1:len(numbers):2]

[2, 4, 6, 8, 10, 12, 14]

In [95]:
#b replace numbers 5 through 9 with 0
numbers[5:10] = [0] * len(numbers[5:10])

numbers

[1, 2, 3, 4, 5, 0, 0, 0, 0, 0, 11, 12, 13, 14, 15]

In [96]:
#c keep only the first 5 elements
numbers[5:] = []
numbers

[1, 2, 3, 4, 5]

In [97]:
#d delete the remaining numbers
numbers[:] =[]
numbers

[]

#5.6 del statement

In [98]:
#del statements can be used to remove elements from a list and to delete variables from the interactive session. you can remove the element at any valid index or the elements from any valid slice.

In [99]:
#deleting the element at a specific list index
numbers = list(range(0,122,8))

numbers

[0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120]

In [100]:
del numbers[-1] #deletes last list element

numbers

[0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112]

In [101]:
#deleting slice from a list
del numbers[0:2]

numbers

[16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112]

In [102]:
#deleting every other element in a list

del numbers[::2]

numbers

[24, 40, 56, 72, 88, 104]

In [103]:
#deleting a slice representing the entire list

del numbers[:]

numbers

[]

In [104]:
#deleting variable from the session
del numbers

In [105]:
#writing (numbers) will now show an error code because numbers is no longer defined

In [106]:
#5.5 self check
#Q1-A. given a list of numbers 1 through 10 del numbers[-2] will delete the number 9
#Q2 python session
    #creat a list called numbers containing values 1 through 15
numbers = list(range(1,16))

In [107]:
numbers = list(range(1,16))

numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [108]:
#Q2-a. delete a slice containing first four elements

del numbers[:4]

numbers

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [109]:
#Q2-b. starting with first element delete every other number in the list

del numbers[::2]

numbers

[6, 8, 10, 12, 14]

#5.7 Passing lists to functions

In [110]:
#passing an entire list to a function
def modify_elements(items):
    """Multiplies all element values in items by 2."""
    for i in range(len(items)):
        items[i] *=2

In [111]:
numbers = [10, 3, 9, 1, 78, 76]

modify_elements(numbers)

numbers

[20, 6, 18, 2, 156, 152]

In [112]:
#when you pass a tuple to a function, attempting to modify the tuple will result in a type error

In [113]:
#Self Check
#Q1-A: You cannot modify lists contents when  you pass a function-- False: you can modify a mutable object(list) to a function the function recieves a reference to the original list
#Q2-A: True: tuples can contain lists and other mutable objects. Those mutable objects can be modified when a tuple is passed to the function.

5.8 Sorting lists

In [114]:
numbers = [1, 3, 4, 5, 1, 2, 22, 32, 23, 11, 5, 19, 89, 12]

In [115]:
numbers.sort()

numbers

[1, 1, 2, 3, 4, 5, 5, 11, 12, 19, 22, 23, 32, 89]

In [116]:
numbers.sort(reverse=True)

numbers

[89, 32, 23, 22, 19, 12, 11, 5, 5, 4, 3, 2, 1, 1]

In [117]:
ascending_numbers = sorted(numbers)

In [118]:
ascending_numbers

[1, 1, 2, 3, 4, 5, 5, 11, 12, 19, 22, 23, 32, 89]

In [119]:
numbers

[89, 32, 23, 22, 19, 12, 11, 5, 5, 4, 3, 2, 1, 1]

In [120]:
letters = 'dfgertsdfsgfertnjyum'

ascending_letters = sorted(letters)

In [121]:
ascending_letters

['d',
 'd',
 'e',
 'e',
 'f',
 'f',
 'f',
 'g',
 'g',
 'j',
 'm',
 'n',
 'r',
 'r',
 's',
 's',
 't',
 't',
 'u',
 'y']

In [122]:
letters

'dfgertsdfsgfertnjyum'

In [123]:
colors = ('blue', 'green', 'red', 'orange', 'yellow', 'brown', 'magenta')

ascending_colors= sorted(colors)

colors

('blue', 'green', 'red', 'orange', 'yellow', 'brown', 'magenta')

In [124]:
ascending_colors

['blue', 'brown', 'green', 'magenta', 'orange', 'red', 'yellow']

In [125]:
colors

('blue', 'green', 'red', 'orange', 'yellow', 'brown', 'magenta')

In [126]:
#5.8 Self check

#Q1-A. to sort a list in descending order, call list method sort with the optional keyword argument (reverse) set to True (reverse=True)
#Q1-2A. False immutable sequences like tuples and strings do not provide a sort method. However, you can sort any sequence without modifying it using the built in  function sorted.
#Q3-A

foods = ['Cookies', 'pizza', 'Grapes', 'apples', 'steak', 'Bacon']

foods.sort()

foods

['Bacon', 'Cookies', 'Grapes', 'apples', 'pizza', 'steak']

In [127]:
#the strings are not in alphebetical order, because Capitalized words are given a higher value and therefore come before

In [128]:
foods = ['cookies', 'pizza', 'grapes', 'apples', 'steak', 'bacon']

foods.sort()

foods

['apples', 'bacon', 'cookies', 'grapes', 'pizza', 'steak']

In [129]:
foods = ['Cookies', 'Pizza', 'Grapes', 'Apples', 'Steak', 'Bacon']

foods.sort()

foods

['Apples', 'Bacon', 'Cookies', 'Grapes', 'Pizza', 'Steak']

In [130]:
#5.9 Self checks

#Q1-A. The (*=) operator can be used to extend a list with copies of itself
#Q2-A. operators (in) and (not in) determine whether a sequece contains or does not contain a value.
#Q3-A

numbers= [67, 12, 46, 43, 13]

numbers.index(43)

3

In [131]:
if 44 in numbers:
    print(f'found 44 at index: {numbers.index(44)}')
else:
    print('44 not found')

44 not found

5.12 List Comprehensions

In [132]:
#A create a new list
list1 =[]

for item in range(1,6):
    list1.append(item)

In [133]:
list1

[1, 2, 3, 4, 5]

In [134]:
#Using list comprehension to create a list of integers
list2 = [item for item in range(-7,7)]

list2

[-7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6]

In [135]:
#mapping operators in a lists Comprehension's Expression
list3 = [item **4 for item in range(1,8)]

list3

[1, 16, 81, 256, 625, 1296, 2401]

In [136]:
#Filtering: list comprehension with if clauses

list4 = [item for item in range(-12,12) if item % 2.5 == 0]

list4

[-10, -5, 0, 5, 10]

In [137]:
list4 = [item for item in range(-12,12) if item -5*2 == 0]

list4

[10]

In [138]:
#list comprehension that processes another lists elements

colors = ['red', 'green', 'blue', 'yellow', 'orange']

colors2 =[item.upper() for item in colors]

colors2

['RED', 'GREEN', 'BLUE', 'YELLOW', 'ORANGE']

In [139]:
colors

['red', 'green', 'blue', 'yellow', 'orange']

In [140]:
#5.12 self check

#Q1-A: A list comprehension's for clause iteraters over the specific sequence
#Q2-A: A list comprehension's if clause filters squence elements to select only those that match a condition

#Q3-A.

cubes = [(x, x**3) for x in range(1,6)]
cubes

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

In [141]:
#Q4-A

multiples = [x for x in range(3, 30, 3)]

multiples

[3, 6, 9, 12, 15, 18, 21, 24, 27]

5.14 Filter, Map, Reduce

In [142]:
#filtering a sequence with built in filter function
numbers = [13, 2, 11, 25, 22, 54, 12, 32, 8, 9, 7, 3]

def is_odd(x):
    """returns True onle if x is odd"""
    return x % 2 !=0

list(filter(is_odd, numbers))

[13, 11, 25, 9, 7, 3]

In [143]:
#written in another way

[item for item in numbers if is_odd(item)]

[13, 11, 25, 9, 7, 3]

In [144]:
#using a lambda rather than a function
#lambda can be used to return only a single expression's value

list(filter(lambda x: x % 2 !=0, numbers))

[13, 11, 25, 9, 7, 3]

In [145]:
#lambda expression is an anonymous function(that is a function without a name)

In [146]:
#filter(lambda x: x % 2 !=0, numbers)
#the first argument is the lambda (lambda x: x % 2 !=0)

In [147]:
#A lambda begins with a lambda keyword followed by a comma-seperated parameter list, a colon(:) and an expression

In [148]:
#def function1(parameter_list):
    #return expression
#this may be expressed more concise in the lambda form
#lambda function1:expression

In [149]:
#mapping sequence values to new values
#map is a build in function that recieves one value and returns a new value
numbers= [12, 55, 26, 122, 456, 3, 66, 12, 22, 49]

list(map(lambda x: x**2, numbers))

[144, 3025, 676, 14884, 207936, 9, 4356, 144, 484, 2401]

In [150]:
#alternatively can be written as

[item ** 2 for item in numbers]

[144, 3025, 676, 14884, 207936, 9, 4356, 144, 484, 2401]

In [151]:
#combining filter and map

list(map(lambda x: x**2, filter(lambda x: x%2 != 0, numbers)))

[3025, 9, 2401]

In [152]:
#can also be written as
[x**2 for x in numbers if x%2 !=0]

[3025, 9, 2401]

In [153]:
#Self Check

#Q1-A. filter, map, and reduce are common operations used in functional style programming
#Q2-A. A reduction processes a sequence's elements into a single values, such as their count, total, or average.
#Q3. create a list called numbers containing 1 through 15.

numbers = list(range(1,16))

In [154]:
#Q3-a. use lambda to select only even numbers.

list(filter(lambda x:x % 2 == 0, numbers))

[2, 4, 6, 8, 10, 12, 14]

In [155]:
#Q3-b. use built in function map witha lambda to square the values of numbers' elements. Create a new list containing the results

list(map(lambda x:x**2, numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

In [156]:
list(map(lambda x:x**2,filter(lambda x:x % 2 == 0, numbers)))

[4, 16, 36, 64, 100, 144, 196]

In [157]:
#Q4. Map a list of the three fahrenheit temperatures 41, 32, and 212 to a list of tuples containing the fahrenheit and celsius equevalents.

#Celsius = (fahrenheit - 32) * (5/9)
fahrenheit = [41, 32, 212]

list(map(lambda x: (x, (x-32) * 5/9), fahrenheit))

[(41, 5.0), (32, 0.0), (212, 100.0)]

5.15 Other Sequence processing functions

5.16 Two dimensional lists

In [159]:
#creating two dimensional Lists
#lists can contain other lists as elements.
a = [[77, 88, 8834,], [54, 34, 44, 64], [22, 5, 4, 23,]]

a

[[77, 88, 8834], [54, 34, 44, 64], [22, 5, 4, 23]]

In [160]:
#alternative way of writing to better identify where the indeces are located
a=  [[77, 88, 8834,], 
    [54, 34, 44, 64], 
    [22, 5, 4, 23,]]

a

[[77, 88, 8834], [54, 34, 44, 64], [22, 5, 4, 23]]

In [161]:
#Every element of two dimensional lists are identified in the for a[i][j]. a is the list name. i and j are the indeces that uniquely identify each elements row and column

In [162]:
#m-by-n-list is a list with m rows and n columns

In [163]:
for row in a:
    for item in row:
        print(item, end=' ')
    print()

77 88 8834
54 34 44 64
22 5 4 23

In [164]:
a[0][0]

77

In [165]:
for i, row in enumerate(a):
    for j, item in enumerate(row):
        print(f'a[{i}][{j}]={item}' , end=' ')
    print()

a[0][0]=77 a[0][1]=88 a[0][2]=8834
a[1][0]=54 a[1][1]=34 a[1][2]=44 a[1][3]=64
a[2][0]=22 a[2][1]=5 a[2][2]=4 a[2][3]=23

In [166]:
b=[[23,3,4, 6, 7 ,8], [9, 6, 7, 12, 7], [23, 2345, 45], [23]]

In [167]:
for row in b:
    for item in row:
        print(item, end=' ')
    print()

23 3 4 6 7 8
9 6 7 12 7
23 2345 45
23

In [168]:
for i, row in enumerate(b):
    for j, item in enumerate(row):
        print(f'a[{i}][{j}]={item}' , end=' ')
    print()

a[0][0]=23 a[0][1]=3 a[0][2]=4 a[0][3]=6 a[0][4]=7 a[0][5]=8
a[1][0]=9 a[1][1]=6 a[1][2]=7 a[1][3]=12 a[1][4]=7
a[2][0]=23 a[2][1]=2345 a[2][2]=45
a[3][0]=23

In [169]:
#Self Check

#Q1-A. In two dimensional lists, The first index by convention identifies the row of an element the second index identifies the column of an element.
#Q2-A. Label the elements of the two by three list sales
#
#for row in range(len(sales)):
#    for col in range(len(sales[row])):
#        sales[row][col] = 0
#Answer sales[0][0],sales[0][1],sales[0][2],sales[1][0],sales[1][1],

#Q3 consider a two by three integer list t.
#a) how many rows does t have? 2
#b) how many columns does t have? 3
#c) how many elements does t have? 6
#d) what are the names of the elements in row 1?  t[1][0], t[1][1], t[1][2],
#e) what are the names of the elements in row 1? t[0][2], t[1],[2]. 
#f) set the elements in row 0 and column 2 to 10. t[0][1] = 10
#e) what nested statement?
#for row in range(len(t)):
#    for column in range(len(t[row])):
#        t[row][column] = row + column
#Q4.

In [170]:
t = [[10, 7, 3], [20, 4, 17]]
total = 0
items = 0
for row in t:
    for item in row:
        total += item
        items  += 1

In [171]:
total / items

10.166666666666666

In [172]:
total = 0
items = 0
for row in t:
    total += sum(row)
    items += len(row)
    
total / items

10.166666666666666

In [ ]:
Mike Abbinante