Ch.6 Dictionaries and lists

In [1]:
#6.2 Dictionaries

In [2]:
#A dictionaries keys must be immutable and unique. multiple keys can have the same value

In [3]:
#6.2.1 Creating dictionaries

In [4]:
country_codes = {'Finland': 'fi' , 'South Africa' : 'za' , 'Nepal' : 'np'}
                
country_codes

{'Finland': 'fi', 'South Africa': 'za', 'Nepal': 'np'}

In [5]:
#determining if a dictionary is empty
    #the built-in function len returns the number of key-value pairs
    
len(country_codes)

3

In [6]:
#you can use a dictionary as a condition to determine if it's empty-- a non empty dictionary evaluates true

In [7]:
if country_codes:
    print('country_codes is not empty')
else:
    print('country_codes is empty')

country_codes is not empty

In [8]:
#the call method clear deletes the dictionary's ley-value pairs

country_codes.clear()
#to demonstrate the following code shows that it is empty
if country_codes:
    print('country_codes is not empty')
else:
    print('country_codes is empty')

country_codes is empty

In [9]:
#6.2.2 Basic dictionary operations

roman_numerals = {'I' : 1, 'II' : 2, 'III' : 3, 'IV' : 4, 'V' : 5, 'X' : 100}
                  
roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5, 'X': 100}

In [10]:
#assessing the value of a key

roman_numerals['V']

5

In [11]:
#uppdating the value of an existing Key-Value pair

roman_numerals['X'] = 10

roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5, 'X': 10}

In [12]:
#adding a key-Value pair

roman_numerals['L'] = 50

roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5, 'X': 10, 'L': 50}

In [13]:
#removing a key-Value pair

del roman_numerals['III']

roman_numerals

{'I': 1, 'II': 2, 'IV': 4, 'V': 5, 'X': 10, 'L': 50}

In [14]:
#attempting to access a non existant pair will result in a Keyerror
#this can be prevented by using the dictionary get method, which returns its argument's corresponding value

roman_numerals.get('III')

roman_numerals.get('III', 'III not in dictionary')

'III not in dictionary'

In [15]:
roman_numerals.get('V')

5

In [16]:
#testing whether a dictionary contains a specific key

'V' in roman_numerals

True

In [17]:
'III' in roman_numerals

False

In [18]:
'III' not in roman_numerals

True

In [19]:
#6.2.4 Dictionary methods Keys and values

months= {'January' : 1, 'February' : 2, 'March' : 3}

months

{'January': 1, 'February': 2, 'March': 3}

In [20]:
for month_name in months.keys():
    
    print(month_name, end= ' ')

January February March

In [21]:
for month_name in months.values():
    
    print(month_name, end= ' ')

1 2 3

In [22]:
#Dictionary Views
#dictionary method items, keys and values return a view of a dictionary's data. iterating a view sees the dictionary's current contents it does not have its own copy of data

months_view = months.keys()

In [23]:
for key in months_view:
    print(key, end = ' ')

January February March

In [24]:
#adding to the dictionary
months['December'] = 12

months

{'January': 1, 'February': 2, 'March': 3, 'December': 12}

In [25]:
#redoing the following code has the new item added ot the dictionary
for key in months_view:
    print(key, end = ' ')

January February March December

In [26]:
#converting dictionary Keys, Values, and key-Value pairs to lists

list(months.keys())

['January', 'February', 'March', 'December']

In [27]:
list(months.values())

[1, 2, 3, 12]

In [28]:
list(months.items())

[('January', 1), ('February', 2), ('March', 3), ('December', 12)]

In [29]:
#processing keys in sorted order

for month_name in sorted(months.keys()):
    print(month_name, end = ' ')

December February January March

In [30]:
#word count with dictionaries

# fig06_02.py
"""Tokenizing a string and counting unique words."""

text = ('There are two large trees in the flying garage full of bees ' 
        'bees bees look at these trees over there' 'Where in the garage is the bee nest?' 'There in the shed the trees are cut')

word_counts = {}

# count occurrences of each unique word
for word in text.split():
    if word in word_counts: 
        word_counts[word] += 1  # update existing key-value pair
    else:
        word_counts[word] = 1  # insert new key-value pair

print(f'{"WORD":<12}COUNT')

for word, count in sorted(word_counts.items()):
    print(f'{word:<12}{count}')

print('\nNumber of unique words:', len(word_counts))

WORD        COUNT
There       1
are         2
at          1
bee         1
bees        3
cut         1
flying      1
full        1
garage      2
in          3
is          1
large       1
look        1
nest?There  1
of          1
over        1
shed        1
the         5
thereWhere  1
these       1
trees       3
two         1

Number of unique words: 22

In [31]:
#6.3 Sets
#A set is an unordered collection of unique values. Sets may contain only immutable objects, like strings, ints, floats, and tuples.

In [32]:
#creating a set with Curly Braces

colors = {'red', 'green', 'blue', 'yellow', 'purple', 'brown', 'magenta', 'grey'}

colors

{'blue', 'brown', 'green', 'grey', 'magenta', 'purple', 'red', 'yellow'}

In [33]:
#determining a set's length

len(colors)

8

In [34]:
#checking whether a value is in the set

'red' in colors

True

In [35]:
'green' in colors

True

In [36]:
'white' in colors

False

In [37]:
#iterating through a set

In [38]:
for color in colors:
    print(color.upper(), end = ' ' )

RED PURPLE GREY MAGENTA YELLOW BLUE BROWN GREEN

In [39]:
#creating a set with a built in set function

numbers = list(range(10)) + list(range(5))

In [40]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4]

In [41]:
set(numbers)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [42]:
set()

set()

In [43]:
#you can create a set from another collection of values by using the built-in set function

In [44]:
#frozenset: an immutable set type
#the built in function frozenset can be used to make immutable sets

In [45]:
#6.3.1 comparing sets

{1, 3, 5 } == {3, 5, 1}

True

In [46]:
{1, 3, 5 } != {3, 5, 1}

False

In [47]:
{1, 3, 5 } > {3, 5, 1}

False

In [48]:
{1, 3, 5 } < {3, 5, 1, 99}

True

In [49]:
{1, 3, 5 } <= {3, 5, 1}

True

In [50]:
{1, 3, } <= {3, 5, 1}

True

In [51]:
{1, 3, } >= {3, 5, 1}

False

In [52]:
#issuperset: checks for an improper superset

In [53]:
{1, 3, }.issuperset ({3, 5, 1})

False

In [54]:
{1, 3, 5 } .issuperset({3, 5, 1})

True

In [55]:
#issubset can check for an inproper subset

In [56]:
{1, 3,}.issubset ({3, 5, 1})

True

In [57]:
{1, 3, 5 }.issubset({3, 5, 1})

True

In [58]:
{1, 3, 5 }.issubset({3, 9, 9})

False

In [59]:
#self check

#Q1-A. False. All comparison operators can be used to compare sets
#Q2-A A subset is a proper subset of another set if all the subset's elements are in the other set and it has more elements

#Q3-A

set('abc def ghi jkl mno').issuperset('hi mom')

True

In [60]:
#6.3.2 Mathematical set operations

In [61]:
#union
#union of two sets is a set consisiting of all the unique elements from both sets. You can calculate the union with the | operator or with the set type's union method

{1, 3, 5} | {2, 3, 4}

{1, 2, 3, 4, 5}

In [62]:
{1, 3, 5}.union([23, 333, 24])

{1, 3, 5, 23, 24, 333}

In [63]:
#intersection
#intersection of two sets is a set consisting of all the unique elements that the two sets have in common. the & operate or  set type's intersection can be used
{1, 3, 5} & {2, 3, 4}

{3}

In [64]:
{1, 3, 5}.intersection([23, 333, 24, 3, 5, 5])

{3, 5}

In [65]:
#difference
#the difference between two sets is a set consisting of the elements in the left operand that are not in the right operand. This is done with the - or set type's difference method
{1, 3, 5} - {2, 3, 4}

{1, 5}

In [66]:
{1, 3, 5}.difference([23, 333, 24, 3, 5, 5])

{1}

In [67]:
#symmetric difference
#symmetric difference is the difference between two sets consisteing of the elements both sets that are not in common with one another. This is done by the ^ operator or set type's symmetric_difference

{1, 3, 5} ^ {2, 3, 4}

{1, 2, 4, 5}

In [68]:
{1, 3, 5}.symmetric_difference([23, 333, 24, 3, 5, 5])

{1, 23, 24, 333}

In [69]:
#Disjoint
#two sets are disjoint if they do not have any common elements. this is done with set type's  isdisjoint
{1, 3, 5}.isdisjoint([23, 333, 24, 3, 5, 5])

False

In [70]:
{1, 3, 5}.isdisjoint({2, 6, 4})

True

In [71]:
#self check
#Q1-A two sets are disjoint if they do not have any common elements
#Q2

#a

{10, 20, 30} - {5, 20, 10, 15}

{30}

In [72]:
#b
{10, 20, 30} ^ {5, 20, 10, 15}

{5, 15, 30}

In [73]:
#c
{10, 20, 30} | {5, 20, 10, 15}

{5, 10, 15, 20, 30}

In [74]:
{10, 20, 30} & {5, 20, 10, 15}

{10, 20}

In [75]:
#6.3.3 mutable set operators and methods

In [76]:
#union augment assignment( |=) performs a set union operation, but modifies its left operand

numbers = {1, 4, 5}

numbers |= {2, 5, 6}

numbers

{1, 2, 4, 5, 6}

In [77]:
#methods for adding and removing elements

numbers.add(17)

numbers

{1, 2, 4, 5, 6, 17}

In [78]:
#add inserts its argument if the argument is not already in the set otherwise it remains unchanges

In [79]:
#remove... removes its argument from the set a key error will occur if the value is not in the set

numbers.remove(5)

In [80]:
numbers

{1, 2, 4, 6, 17}

In [81]:
#discard also removes its argument from the set but does not cause an exception if it is not in the set

numbers.discard(27)

#no error occurs

In [ ]:
#you can also remove an element and return it with pop, but sets are unorders, so you do not know which element will be returned

In [82]:
#clear empties the set on which its called
numbers.clear()

numbers

set()

In [ ]:
#self check
#Q1-A. Set method pop returns an arbitrary set element
#Q2-A set method update performs a union operation, modifying the set on which its called

In [85]:
#6.3.4 Set comprehensions

numbers = [1, 2, 2, 2, 3, 4, 5, 6, 6, 7, 9, 8, 8, 8, 10]

evens = {item for item in numbers if item %2 == 0}

evens

{2, 4, 6, 8, 10}

In [ ]:
Mike Abbinante Sets end